<p>Welcome to the Say Server</p>
<p>It should be obvious how this works</p>
<!-- <a href="<%= say_form_path %>">Try it out!</a> -->
<%= link_to "Try it out!", say_form_path, class: "css-class" %>

<ul>
  <% @recent_speeches.each do |s| %>
    <li>
      <form method="POST" action="<%= speak_path %>">
        <input type="hidden" name="words" value="<%= s.words %>">
        <button><%= s.words %></button>
      </form>
    </li>
  <% end %>
</ul>